
{% load static %}

{% include 'salon/base.html' %}

  <body>

    {% include 'salon/menu.html' %}
    
    <div id="page">
      <div id="main_bg">
    {% include 'salon/leftbar.html' %}
    
    <div id="content">

        <div style="color: white; font-size: 14px; margin-top: 10%; margin-left:6%; text-justify:distribute-all-lines ;">
            <p><b>Witaj na stronie salonu samochodowego AutoClick</b></p><br/>

            Oferujemy świadczenie usług handlowych na najwyższym poziomie.
            Poprzez wieloletnie doświadczenie jesteśmy w stanie pomóc Tobie dokonać trafnego wyboru
            w zakupie wymażonego Auta. Zapraszamy do obejrzenia dostępnych modeli

        </div>
        <div id="secondbox" style="float:left; background-color: #88aae8; margin-left: 1px; " >
            <div id="first"></div>
            Potrzebujesz dobrej nawigacji? <br/>
            <a href="http://ogarnieci.pl/8370,Nawigacja-samochodowa.html?cid=555&gclid=CjwKCAiAx_DwBRAfEiwA3vwZYkzkJbZVfyOrLiz6QLysTQ8SD4FnVwFyhyjbbYhcggq4eD8qlpijBhoCMBcQAvD_BwE">Sprawdź ranking najszybszych aut z całego świata</a>
        </div>
        <!-- Pierwsze okienko z reklamą        -->
        <div id="secondbox">
                <div id="second">
                    
                </div>
            Zawrotna prędkość?<br/>
            <a href="https://pl.wikipedia.org/wiki/Lista_najszybszych_samochodów_osobowych">Oto Zestawienie najlepszych nawigacji na rynku</a>
            
        </div>
        <!-- Drugie okienko z reklamą-->
        <div id="secondbox" style="float:left; background-color:#3062d2;" >
            <div id="third">

            </div>
            Zastanawiasz się gdzie wybrać OC?<br/>
            
            <a href="https://mubi.pl/?gclid=CjwKCAiAx_DwBRAfEiwA3vwZYmbotKSx-LE2OYa4WhZKWppk2NaoxOGqQftbhNjCIYwdBAjRnguhahoC1KMQAvD_BwE">Skorzystaj z dostępnych porównywarek internetowych</a>
        </div>
         <!-- Trzecie okienko z reklamą-->
        
        
        
        
        <div>

        </div>


</div>

</div>
</div>
</div>   

</body>
</html>



