<form action="../comments/create" method="post">

    <label for="tresc">Treść:</label>
    <input type="text" id="tresc" name="tresc"><br><br>
    <input type="submit" value="Submit">
</form>


{{!-- Dodać linijke  --}}