<form action="../tags/create" method="post">

    <label for="tag">tag:</label>
    <input type="text" id="tag" name="tag"><br><br>
    <input type="submit" value="Submit">
</form>


{{!-- Dodać linijke  --}}