<body>
    

    <div style="background: aliceblue;" >
        <center>
            <p style="font-size: 30px; font-family: Apple Chancery, cursive; text-shadow: 2px 2px 4px #6c748a;">WITAJ NA STRONIE PICTUREMAX</p>
            <img style="width: 90%; height:70%" src="../images/home1.png" alt="home">
        </center>
        

            
    </div>



</body>