
<h3>REJESTRACJA</h3>
<br/>

<form action="../users/register" method="post">

    <label for="imie">Imie:</label>
    <input type="text" id="imie" name="imie"><br><br>

       <label for="nazwisko">Nazwisko:</label>
    <input type="text" id="nazwisko" name="nazwisko"><br><br>

       <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>


       <label for="password">Hasło:</label>
    <input type="password" id="haslo" name="haslo"><br><br>





    <input type="submit" value="Submit">
</form>

