html
    head
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" type="text/css" href="css/main.css")
    body
        
            h1 Kontakt do biblioteki:
            p Numer telefonu: 555 666 111,
            p Adres Email: Biblioteka@js.pl,
            p Facebook: https://www.Facebook.com/Biblioteka+Publiczna+Licencjat=23456.html
                p 
                    <a href="/">Powrót</a>
                    