<!DOCTYPE html>
html(lang="en")
    head
          link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
          link(rel="stylesheet" type="text/css" href="css/main.css")
    body
        p Twoje konto zostało dodane pomyślnie 

                |#{log}
        p 
        <a href="/logowanie">Przejdz do strony logowania</a>
                
        